.modalWrapper {
  @include overlay;
}

.modal {
  width: 90%;
  background-color: $primary-color-white;
  position: relative;
  z-index: 999;
  border-radius: 10px;
  padding: 24px 12px;
  max-width: 280px;

  @include tablet {
    max-width: 704px;
  }
  @include desktop {
    max-width: 1008px;
  }
}

.modalTop {
  margin-bottom: 24px;
  @include flex-between;
  align-items: start;

  & > h3 {
    font-weight: 500;
    font-size: 26px;
    line-height: 123%;
    color: $primary-color-black;
  }
}
